[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "==2.8.1"
reportlab = "==3.5.42"
structlog = "==20.1.0"
arrow = "==0.15.6"
six = "==1.14.0"
requests = "==2.25.1"
chardet = "==3.0.4"
urllib3 = "==1.26.5"
idna = "==2.9"
certifi = "==2020.4.5.1"
Flask = "*"
pillow = "*"
waitress = "==2.0.0"


[dev-packages]
flake8 = "==3.8.1"
pyflakes = "==2.2.0"
responses = "==0.10.14"
pytest = "==6.2.3"
pytest-cov = "==2.11.1"
PyYAML = "==5.4"
install = "*"

[requires]
python_version = "3.8"
